<html>
  <head>
    <title>File Browser</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/file-browser.css">

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lazysizes.min.js"></script>
    <script src="/js/file-browser.js"></script>
  </head>
  <body>

    <div class="container">

      <div class="row">
        <div id="browser-main" class="col-md-12">

        <h3>
          <a href="/">File Browser 
        </h3>

        <p>
          <a href="/?files=1"><b>Files</b> (<%=files_count%>)</a>, 
          <a href="/?images=1"><b>Images</b> (<%=images_count%>)</a>, 
          <a href="/?videos=1"><b>Videos</b> (<%=videos_count%>)</a>
          <a href="/reload_index" class="btn btn-default" title="Reload index"><i class="fa fa-refresh fa-fw"></i></a></a> 
          <a href="#" id="toggle-search-form" class="btn btn-default" title="Toggle search"><i class="fa fa-search fa-fw"></i></a>
        </p>
        <p>
          File Types: 
          <%for(var i=0; i<popular_file_types.length; i++){%>
          <a href="/?file_type=<%=popular_file_types[i].type%>"><span style="text-transform: lowercase;"><%if(!query.from_dir&&query.file_type==popular_file_types[i].type){%><b><%=popular_file_types[i].type%></b><%}else{%><%=popular_file_types[i].type%><%}%></span> (<%=popular_file_types[i].count%>)</a><%if (i < popular_file_types.length-1){%>,<%}%>
          <%}%>
        </p>

        <div style="margin: 15px auto;">
          <form id="search-form" class="<%if(!query.q){%>hidden<%}%>" role="form" action="/" method="GET">
            <div class="input-group">
              <input id="search-query" type="text" name="q" class="form-control" value="<%=query.q||''%>" placeholder="Search files and directories">
              <span class="input-group-btn">
                <button id="search-form-submit" class="btn btn-default" type="submit">Search</button>
              </span>
            </div>
          </form>
        </div>

        <hr />

        <%if (query.files) {%>
          <%if (query.from_dir) {%>
        <h4>Files in <a href="/?dir=<%=encodeURIComponent(query.from_dir)%>"><%=query.from_dir%></a></h4>
          <%}else{%>
        <h4>All Files</h4>
          <%}%>
        <%}else if (query.images) {%>
          <%if (query.from_dir) {%>
        <h4>Images in <a href="/?dir=<%=encodeURIComponent(query.from_dir)%>"><%=query.from_dir%></a></h4>
          <%}else{%>
        <h4>All Images</h4>
          <%}%>
        <%}else if (query.videos) {%>
        <h4>All Videos</h4>
        <%}else if (query.file_type) {%>
          <%if (query.from_dir) {%>
        <h4>File Type: <%=query.file_type%> in <a href="/?dir=<%=encodeURIComponent(query.from_dir)%>"><%=query.from_dir%></a></h4>
          <%}else{%>
        <h4>File Type: <%=query.file_type%></h4>
          <%}%>
        <%}else if (query.q) {%>
        <h4>Search files: <a href="/?q=<%=query.q%>"><%=query.q%></a></h4>
        <%} else {%>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-fw"></i></a></li>
          <%parents.forEach(function(parent){%>
            <li class="breadcrumb-item"><a href="/?dir=<%=encodeURIComponent(parent.path)%>"><%=parent.name%></a></li>
          <%});%>
            <li class="breadcrumb-item"><%=dir_name%></li>
          </ol>
        </nav>
        <%}%>

        <%if (dir_file_types.length) {%>
        <p>
          <%for(var i=0; i < dir_file_types.length; i++){%>
          <a href="/?file_type=<%=dir_file_types[i].type%>&from_dir=<%=encodeURIComponent(query.from_dir||query.dir)%>">
            <span style="text-transform: lowercase;"><%if(query.file_type==dir_file_types[i].type){%><b><%=dir_file_types[i].type%></b><%}else{%><%=dir_file_types[i].type%><%}%></span> (<%=dir_file_types[i].count%>)</a><%if (i < dir_file_types.length-1){%>,<%}%>
          <%}%>
        </p>
        <%}%>

        <%
        var base_comp = 'dir=' + encodeURIComponent(dir_path);
        if (query.files) {
          base_comp = 'files=1';
        } else if (query.images){
          base_comp = 'images=1';
        } else if (query.videos) {
          base_comp = 'videos=1';
        } else if (query.file_type) {
          base_comp = 'file_type=' + query.file_type;
        } 
        if (query.from_dir) {
          base_comp += '&from_dir=' + query.from_dir;
        }
        %>

        <%
        var without_view_comps = [];
        for (var query_field in query) {
          if (query_field != 'listview') {
            if (query_field == 'dir' || query_field == 'from_dir') {
              without_view_comps.push(query_field + '=' + encodeURIComponent(query[query_field]));
            } else {
              without_view_comps.push(query_field + '=' + query[query_field]);
            }
          }
        }
        var base_comp_without_view = without_view_comps.join('&');
        %>
        
        <div style="height: 40px;">
          <div class="btn-group" style="float: right;display: inline-block;margin-left: 10px;">
            <a href="/?<%=base_comp_without_view%>&listview=thumb" title="Thumbnail view"  
              class="btn <%=(query.listview=='thumb')?'btn-default active':'btn-default'%>"><span class="glyphicon glyphicon-th"></span></a>

            <a href="/?<%=base_comp_without_view%>&listview=small" title="List view"  
              class="btn <%=(query.listview!='thumb')?'btn-default active':'btn-default'%>"><span class="glyphicon glyphicon-list"></span></a>
          </div>
          <div class="dropdown <%if(query.listview!='thumb'){%>hidden-lg hidden-md<%}%>" style="float: right;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="padding-top: 3px;padding-bottom: 3px;">
              <%if (!query.sort||query.sort=='name'){%>Name <span class="caret"></span><%}%>
              <%if (query.sort=='size'){%>Size <span class="caret"></span><%}%>
              <%if (query.sort=='type'){%>Type <span class="caret"></span><%}%>
              <%if (query.sort=='mtime'){%>Date Modified <span class="caret"></span><%}%>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <%if (!query.sort||query.sort=='name'){%>
                <%if(query.order=='desc'){%>
              <li class="active"><a href="/?<%=base_comp%>&sort=name">Name</a></li>
                <%}else{%>
              <li class="active"><a href="/?<%=base_comp%>&sort=name&order=desc">Name</a></li>
                <%}%>
              <%}else{%>
              <li><a href="/?<%=base_comp%>&sort=name&order=desc">Name</a></li>
              <%}%>
              <%if (query.sort=='size'){%>
                <%if(query.order=='asc'){%>
              <li class="active"><a href="/?<%=base_comp%>&sort=size">Size</a></li>
                <%}else{%>
              <li class="active"><a href="/?<%=base_comp%>&sort=size&order=asc">Size</a></li>
                <%}%>
              <%}else{%>
              <li><a href="/?<%=base_comp%>&sort=size">Size</a></li>
              <%}%>
              <%if (query.sort=='type'){%>
                <%if(query.order=='desc'){%>
              <li class="active"><a href="/?<%=base_comp%>&sort=type">Type</a></li>
                <%}else{%>
              <li class="active"><a href="/?<%=base_comp%>&sort=type&order=desc">Type</a></li>
                <%}%>
              <%}else{%>
              <li><a href="/?<%=base_comp%>&sort=type&order=desc">Type</a></li>
              <%}%>
              <%if (query.sort=='mtime'){%>
                <%if(query.order=='asc'){%>
              <li class="active"><a href="/?<%=base_comp%>&sort=mtime">Date Modified</a></li>
                <%}else{%>
              <li class="active"><a href="/?<%=base_comp%>&sort=mtime&order=asc">Date Modified</a></li>
                <%}%>
              <%}else{%>
              <li><a href="/?<%=base_comp%>&sort=mtime">Date Modified</a></li>
              <%}%>
            </ul>

          </div>
          <h5>
            <span><%if (dirs_length>1){%><%=dirs_length%> folders<%}else if (dirs_length==1){%><%=dirs_length%> folder
            <%}%><%if (dirs_length>0&&files_length>0){%>, <%}%></span>
            <span><%if (files_length>1){%><%=files_length%> files<%}else if (files_length==1){%>1 file<%}%></span>
            <%if (total_size>0){%> - <%=bytes(total_size)%><%}%>
            <%if (query.dir) {%><span> - <a href="/?files=1&from_dir=<%=encodeURIComponent(query.dir)%>">Show files</a></span><span class="hidden-xs"> - <a class="open-in-external-program" href="#" data-path="<%=encodeURIComponent(query.dir)%>" title="Open in external program">Open location</a></span><%}%>
            <%if (query.from_dir) {%><span> - <a href="/?files=1&from_dir=<%=encodeURIComponent(query.from_dir)%>">Show files</a></span><span class="hidden-xs"> - <a class="open-in-external-program" href="#" data-path="<%=encodeURIComponent(query.from_dir)%>" title="Open in external program">Open location</a></span><%}%>
          </h5>
        </div>

        <%var query_skip = (query.skip ? parseInt(query.skip) : 0);%>
        <%var query_limit = query.limit || 100;%>
        <%var next_skip = query_skip+query_limit;%>

        <%if (items_length>next_skip){%>
        <p><%=(query_skip+1)%>-<%=(next_skip)%>, <a href="/?<%=base_comp%>&skip=<%=next_skip%>&limit=<%=query_limit%>">and more <%=(items_length-next_skip)%> items...</a></p>
        <%}else if (query_skip>0){%>
        <p><%=(query_skip+1)%>-<%=items_length%></p>
        <%}%>

        <%if (query.listview != 'thumb') {%>
          <div style="overflow-x:auto;">
          <%include partials/list-small%>
          </div>
        <%} else {%>
          <%include partials/list-thumb%>
        <%}%>

        <%if (items_length>next_skip){%>
        <p><a href="/?<%=base_comp%>&skip=<%=next_skip%>&limit=<%=query_limit%>">and more <%=(items_length-next_skip)%> items...</a></p>
        <%}%>

      </div>

    </div>

    <!-- Modal -->
    <div id="previewModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header hidden">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>

          <div class="modal-body" id="file-preview-body">
            <p id="file-preview-header">
              <span id="file-preview-file-info-container"><i class="fa fa-info-circle fa-fw"></i> <span id="file-preview-file-info"></span></span>

              <a href="#" id="file-preview-prev" class="file-preview-button"><i class="fa fa-chevron-left fa-fw"></i></a>
              <span id="file-preview-subtitle"></span>
              <a href="#" id="file-preview-next" class="file-preview-button"><i class="fa fa-chevron-right fa-fw"></i></a>

              <span id="file-preview-close" class="hidden"><a href="#" class="file-preview-button"><i class="fa fa-times fa-fw"></i></a></span>
            </p>
            
            <div id="file-preview-actions">
              <a id="file-preview-close-button" href="#" 
                class="file-preview-button file-preview-big-button"
                title="Close preview (esc)"><i class="fa fa-times fa-lg fa-fw"></i></a> 

              <a id="file-preview-image-resize-button" href="#" 
                class="file-preview-button file-preview-big-button"
                title="Toggle image size (s)"><i class="fa fa-arrows fa-lg fa-fw"></i></a> 
            </div>
            
            <div id="file-preview-title-container">
              <span id="file-preview-title"></span>
            </div>

            <div id="file-preview-content">
            </div>
          
            <div id="file-preview-load-more-button-container">
              <a id="file-preview-load-more-button" class="hidden file-preview-button" 
                href="#" title="Load more pages"><i class="fa fa-angle-down fa-2x fa-fw"></i></a>
            </div>

            <div id="file-preview-left"></div>
            <div id="file-preview-right"></div>

            <div id="zoom-control" class="hidden">
              <div id="zoom-control-inner">
                <span id="zoom-value" data-value="100" class="hidden"></span>
                <a href="#" id="zoom-in"><i class="fa fa-search-plus fa-2x fa-fw"></i></a>
                <a href="#" id="zoom-out"><i class="fa fa-search-minus fa-2x fa-fw"></i></a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div><!-- container -->

  <!-- Modal -->
  <div id="deleteConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="#" id="delete-confirmed-button" class="btn btn-danger">Delete</a>
        </div>
      </div>

    </div>
  </div>

  <div id="preview-pane" class="hidden">
  </div>

  <div id="notification-pane" class="hidden text-white bg-success">
    <span id="notification-title"></span>
    <div id="notification-message"></div>
  </div>

  </body>
</html>